@model List<InicioCarouselViewModel>
@{
    ViewData["Title"] = "Inicio";
}

<div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        @{
            bool primerIndicador = true;
        }
        @foreach (var indicador in Model)
        {
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="@indicador.IdImagen"
            class="@(primerIndicador ? Html.Raw("active") : Html.Raw(""))" @(primerIndicador ? Html.Raw("aria-current=\"true\"") : Html.Raw(""))></button>
            primerIndicador = false;
        }
    </ol>
    <div class="carousel-inner">
        @{
            bool primerImagen = true;
        }
        @foreach (var imagen in Model)
        {
            <div class="carousel-item @(primerImagen ? Html.Raw("active") : Html.Raw(""))">
                <img class="d-block w-100" src="data:image/jpg;base64,@Convert.ToBase64String(imagen.Imagen)"
                alt="Diapositiva @imagen.IdImagen">
            </div>
            primerImagen = false;
        }
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </a>
</div>

<p class="h1 mt-3 mb-2">
    <strong>&Uacute;ltimas Noticias <i class="far fa-newspaper"></i>
    </strong>
    @if(ViewBag.mostrarbotonagregarnoticia){
        <a asp-area="Administracion" asp-controller="Noticia" asp-action="Agregar" class="btn btn-outline-dark">Agregar</a>
    }
</p>
<hr>
<div class="row">
    @foreach (var noticia in ViewBag.noticias)
    {
        <div class="col-md-4 mb-3">
            <a asp-controller="Noticias" asp-action="Detalles" asp-route-id="@noticia.IdNoticia" class="link-dark h3">
                @noticia.Titulo
                </a>
            <div class="texto-truncado-5 mb-2 mt-2">
                @noticia.Cuerpo
            </div>
            <small class="text-muted">Categor&iacute;a: @noticia.CategoriaNoticia.Nombre <br>
                Autor: @(noticia.ApplicationUser.Nombres + " " +
                noticia.ApplicationUser.PrimerApellido + " " +
                noticia.ApplicationUser.SegundoApellido) <br>
                Publicado: @noticia.FechaPublicacion<br>
                @if(noticia.FechaPublicacion < noticia.FechaEdicion){
                    @:Editado: @noticia.FechaEdicion
                }</small>
        </div>
    }
</div>

<p class="h1 mt-3 mb-2"><strong>Caracter&iacute;sticas del sitio</strong></p>
<hr>
<div class="row">
    <div class="col-md-6 mb-3">
        <p class="h2">Revisa tus Calificaciones <i class="fas fa-school"></i></p>
        <p>
            Revisa r&aacute;pidamente tu situaci&oacute;n acad&eacute;mica con las
            observaciones incluidas junto a las calificaciones. Se acabaron los
            largos viajes hacia la escuela para conocer esa informaci&oacute;n.
            Puedes consultarla desde tus dispositivos en cualquier lugar.
        </p>
    </div>
    <div class="col-md-6 mb-3">
        <p class="h2">Ent&eacute;rate de Noticias <i class="fas fa-newspaper"></i></p>
        <p>
            ¿Cansado(a) de leer papeles con notificaciones de la escuela? ¿Tienes
            estr&eacute;s por escuchar un rumor y no saber si es cierto? ¡Revisa la
            secci&oacute;n &uacute;ltimas noticias de esta p&aacute;gina de inicio
            o ve al enlace <a asp-controller="Noticias" asp-action="Inicio">noticias</a> 
            de la barra de navegaci&oacute;n.
        </p>
    </div>
</div>

@section css{
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
}