@model AgregarProfesorViewModel
@{ ViewData["Title"] = "Agregar Profesor"; }

<h1>@ViewData["Title"]</h1>

<form method="POST" asp-action="AgregarProfesor">
    <input asp-for="UserId" value="@ViewBag.id" hidden />

    <div class="form-group">
        <label for="Asignaturas" class="requerido">Asignaturas/Materias donde el nuevo profesor podrá asignar notas</label><br />
        @foreach (var cursoasignatura in ViewBag.cursosasignaturas)
        {
<input type="checkbox" name="IdDetalleCursosAsignatura" value="@cursoasignatura.Value"
       checked="@cursoasignatura.Selected" class="form-check-input" />
                <label class="form-check-label">@cursoasignatura.Text</label> <br />}
    </div>
    <button type="submit" class="btn btn-primary">Agregar profesor</button>
    <a asp-action="Inicio" class="btn btn-primary">Volver atrás</a>
</form>


@section Scripts{
    @{
                        <partial name="_ValidationScriptsPartial" />
    }
}