@model AgregarEstudianteViewModel

@{
    ViewData["Title"] = "Agregar Estudiante";
}

<h1>@ViewData["Title"]</h1>

<p class="mb-3">La informaci칩n principal ha sido a침adida. Falta la siguiente informaci칩n adicional</p>
<hr />


<form method="POST" asp-action="AgregarEstudiante">
    <div class="row">
        <div class="col-md-6">
            <input asp-for="DetalleEstudiante.ApplicationUser.Id" value="@ViewBag.user.Id" hidden />
            <input asp-for="DetalleEstudiante.ApplicationUser.PrimerApellido" value="@ViewBag.user.PrimerApellido" hidden />
            <input asp-for="DetalleEstudiante.ApplicationUser.SegundoApellido" value="@ViewBag.user.SegundoApellido" hidden />
            <input asp-for="DetalleEstudiante.ApplicationUser.Nombres" value="@ViewBag.user.Nombres" hidden />
            <input asp-for="DetalleEstudiante.ApplicationUser.Estado" value="@ViewBag.user.Estado" hidden />

            <div class="form-group">
                <label asp-for="DetalleEstudiante.Padres"></label>
                <input type="text" asp-for="DetalleEstudiante.IdPadres" class="form-control" value="@ViewBag.padres.IdPadres" hidden>
                <input type="text" asp-for="DetalleEstudiante.Padres" class="form-control" disabled value="@(
        ViewBag.padres.NombresMadre + " " + ViewBag.padres.PrimerApellidoMadre + " " +
        ViewBag.padres.NombresPadre + " " + ViewBag.padres.PrimerApellidoPadre)">
                <a asp-action="BuscarPadres" class="btn btn-primary" asp-route-id="@ViewBag.id" asp-route-id2="@ViewBag.padres.IdPadres" asp-route-referencia="AgregarEstudiante">Buscar</a>
                <a asp-action="AgregarEstudiante" class="btn btn-primary" asp-route-id="@ViewBag.id">Eliminar</a>
                <span asp-validation-for="DetalleEstudiante.IdPadres" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DetalleEstudiante.IdDetalleCursoPeriodo" class="requerido"></label>
                <div class="form-check">
                    @foreach (var cursoperiodo in ViewBag.cursosperiodos)
                    {
                        <input type="radio"
                               asp-for="DetalleEstudiante.IdDetalleCursoPeriodo"
                               value="@cursoperiodo.Value"
                               class="form-check-input">
                        <label class="form-check-label">
                            @cursoperiodo.Text
                        </label>
                        <br />
                    }
                </div>
                <span asp-validation-for="DetalleEstudiante.DetalleCursoPeriodo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="DetalleEstudiante.NumerodeOrden" class="requerido"></label>
                <input asp-for="DetalleEstudiante.NumerodeOrden" class="form-control">
                <span asp-validation-for="DetalleEstudiante.NumerodeOrden" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DetalleEstudiante.IdoRNE"></label>
                <input asp-for="DetalleEstudiante.IdoRNE" class="form-control" />
                <span asp-validation-for="DetalleEstudiante.IdoRNE" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Agregar Detalles</button>
    </div>
</form>

<div>
    <a class="btn btn-primary" asp-action="Inicio">M치s tarde, volver a la lista</a>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
