@model ApplicationUser
@{ ViewData["Title"] = "Detalle Estudiante"; }

<h1 class="mb-3">@ViewData["Title"]</h1>
<hr />

<div class="container">
    <dl class="row">
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2 mb-3">
            Rol
        </dt>
        <dd class="col-sm-10 mb-3">
            @ViewBag.roles
        </dd>
        <dt class="col-sm-2 mb-3">
            Usuario
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2 mb-3">
            Curso/Sección
        </dt>
        <dd class="col-sm-10 mb-3">
            @(Model.DetalleEstudiante.Curso.Nombre + " " + Model.DetalleEstudiante.Curso.Seccion)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.DetalleEstudiante.NumerodeOrden)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.DetalleEstudiante.NumerodeOrden)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.DetalleEstudiante.IdoRNE)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.DetalleEstudiante.IdoRNE)
        </dd>
    </dl>

    <h2 class="mb-3">Detalle Padres</h2>
    <hr />
    <h3 class="mb-3">Madre</h3>

    <dl class="row">
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.DetalleEstudiante.Padres.PrimerApellidoMadre)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.DetalleEstudiante.Padres.PrimerApellidoMadre)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.DetalleEstudiante.Padres.SegundoApellidoMadre)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.DetalleEstudiante.Padres.SegundoApellidoMadre)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.DetalleEstudiante.Padres.NombresMadre)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.DetalleEstudiante.Padres.NombresMadre)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.DetalleEstudiante.Padres.TelefonoMadre)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.DetalleEstudiante.Padres.TelefonoMadre)
        </dd>
    </dl>

    <h3 class="mb-3">Padre</h3>
    <dl class="row">
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.DetalleEstudiante.Padres.PrimerApellidoPadre)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.DetalleEstudiante.Padres.PrimerApellidoPadre)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.DetalleEstudiante.Padres.SegundoApellidoPadre)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.DetalleEstudiante.Padres.SegundoApellidoPadre)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.DetalleEstudiante.Padres.NombresPadre)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.DetalleEstudiante.Padres.NombresPadre)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.DetalleEstudiante.Padres.TelefonoPadre)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.DetalleEstudiante.Padres.TelefonoPadre)
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-warning" asp-action="EditarEstudiante" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-primary" asp-controller="Padres" asp-action="Detalle" asp-route-id="@Model.DetalleEstudiante.IdPadres" asp-route-id2="@Model.Id">Más Detalles Padres</a>
    <a class="btn btn-primary" asp-action="Inicio">Volver Atrás</a>
</div>