@model ApplicationUser
@{
    ViewData["Title"] = "Detalle Profesor";
}



<div class="row">
    <div class="col-md-6">
        <p class="h1">@ViewData["Title"]</p>
        <hr />

        <dl class="row">
            <dt class="col-sm-2 mb-3">
                @Html.DisplayNameFor(model => model.Nombres)
            </dt>
            <dd class="col-sm-10 mb-3">
                @Html.DisplayFor(model => model.Nombres)
            </dd>
            <dt class="col-sm-2 mb-3">
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </dt>
            <dd class="col-sm-10 mb-3">
                @Html.DisplayFor(model => model.PrimerApellido)
            </dd>
            <dt class="col-sm-2 mb-3">
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </dt>
            <dd class="col-sm-10 mb-3">
                @Html.DisplayFor(model => model.SegundoApellido)
            </dd>
            <dt class="col-sm-2 mb-3">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-10 mb-3">
                @Html.DisplayFor(model => model.Estado)
            </dd>
            <dt class="col-sm-2 mb-3">
                Rol
            </dt>
            <dd class="col-sm-10 mb-3">
                @ViewBag.roles
            </dd>
        </dl>
    </div>

    <div class="col-md-6">
        <p class="h1">Asignaturas</p>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Periodo/Subperiodo</th>
                    <th scope="col">Curso/Secci&oacute;n</th>
                    <th scope="col">Asignatura</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var periodoSubperiodoCursoSeccionAsignatura in Model.DetalleProfesorCursoperiodoAsignatura)
                {
                    <tr>
                        <td>@(periodoSubperiodoCursoSeccionAsignatura.DetalleCursoperiodoAsignatura.DetalleCursoPeriodo.Periodo.Nombre + " / " + periodoSubperiodoCursoSeccionAsignatura.DetalleCursoperiodoAsignatura.DetalleCursoPeriodo.Periodo.Subperiodo)</td>
                        <td>@(periodoSubperiodoCursoSeccionAsignatura.DetalleCursoperiodoAsignatura.DetalleCursoPeriodo.Curso.Nombre + " / " + periodoSubperiodoCursoSeccionAsignatura.DetalleCursoperiodoAsignatura.DetalleCursoPeriodo.Curso.Seccion)</td>
                        <td>@periodoSubperiodoCursoSeccionAsignatura.DetalleCursoperiodoAsignatura.Asignatura.Nombre</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<div>
    <a class="btn btn-warning" asp-action="EditarProfesor" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-danger" asp-action="ReestablecerClave" asp-route-id="@Model.Id">Reestablecer Clave</a>
    <a class="btn btn-primary" asp-action="Inicio">Volver a la Lista</a>
</div>
