@model ApplicationUser
@{ ViewData["Title"] = "Editar Estudiante"; }

<h1>@ViewData["Title"]</h1>
<hr />

<form asp-action="EditarEstudiante" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="DetalleEstudiante.Padres"></label>

                <input type="text" asp-for="DetalleEstudiante.Padres.IdPadres" class="form-control" value="@Model.DetalleEstudiante.Padres.IdPadres" hidden>

                <input type="text" asp-for="DetalleEstudiante.Padres" class="form-control" disabled value="@(
        Model.DetalleEstudiante.Padres.NombresMadre + " " + Model.DetalleEstudiante.Padres.PrimerApellidoMadre + ", " +
        Model.DetalleEstudiante.Padres.NombresPadre + " " + Model.DetalleEstudiante.Padres.PrimerApellidoPadre)">

                <a asp-action="BuscarPadres" class="btn btn-primary" asp-route-id="@Model.Id" asp-route-referencia="EditarEstudiante">Buscar</a>
                <a asp-action="AgregarEstudiante" class="btn btn-primary" asp-route-id="@ViewBag.id">Eliminar</a>
                <span asp-validation-for="DetalleEstudiante.IdPadres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombres"></label>
                <input asp-for="Nombres" class="form-control" onchange="ponerUsuario()" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimerApellido"></label>
                <input asp-for="PrimerApellido" class="form-control" onchange="ponerUsuario()" />
                <span asp-validation-for="PrimerApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundoApellido"></label>
                <input asp-for="SegundoApellido" class="form-control" onchange="ponerUsuario()" />
                <span asp-validation-for="SegundoApellido" class="text-danger"></span>
            </div>

            @* Rol *@
            <div class="form-group">
                <label for="Rol">Rol</label>
                <select id="rol" name="rol" class="form-control" disabled>
                    <option value="Administracion">Estudiante</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Nombre de Usuario">Nombre de Usuario</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado"></label>
                <select asp-for="Estado" class="form-control">
                    <option value="Inscrito">Inscrito</option>
                    <option value="Retirado">Retirado</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DetalleEstudiante.IdDetalleCursoPeriodo"></label>

                @foreach (var cursoPeriodo in ViewData["CursoPeriodo"] as List<EditarEstudianteViewModel>)
                {
                    <div class="form-check">
                        <input type="radio"
                               name="DetalleEstudiante.IdDetalleCursoPeriodo"
                               value="@cursoPeriodo.IdDetalleCursoPeriodo"
                               @(Html.Raw(cursoPeriodo.Seleccionado ? "checked" : ""))
                               class="form-check-input" />
                        <label class="form-check-label">@cursoPeriodo.Nombre</label>
                    </div>
                }
            </div>
            <div class="form-group">
                <label asp-for="DetalleEstudiante.NumerodeOrden"></label>
                <input asp-for="DetalleEstudiante.NumerodeOrden" class="form-control" />
                <span asp-validation-for="DetalleEstudiante.NumerodeOrden" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DetalleEstudiante.IdoRNE"></label>
                <input asp-for="DetalleEstudiante.IdoRNE" class="form-control" />
                <span asp-validation-for="DetalleEstudiante.IdoRNE" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input asp-for="Id" value="@Model.Id" hidden />
        <input type="submit" class="btn btn-warning" value="Editar">
    </div>
</form>

<div>
    <a class="btn btn-primary" asp-action="DetalleEstudiante" asp-route-id="@Model.Id">Volver a detalles</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        function ponerUsuario() {
            let texto = document.getElementById("UserName").value = document.getElementById("Nombres").value.charAt(0).toLowerCase()
                + document.getElementById("PrimerApellido").value.toLowerCase();

            function eliminarDiacriticos(texto) {
                return texto.normalize('NFD').replace(/[\u0300-\u036f]/g, "");
            }

            let aleatorio = Math.floor(Math.random() * 99);
            document.getElementById("UserName").value = eliminarDiacriticos(texto) + aleatorio;
        }
    </script>

}
@section css {

}