@model PaginatedList<UsuarioViewModel>
@{
    ViewData["Title"] = "Lista de Usuarios";
}

<h1>@ViewData["Title"]</h1>

<a class="btn btn-primary mb-3" asp-action="Agregar">Agregar</a>
<form asp-action="Inicio" method="get">
    <div class="form-actions no-color">
        <p>
            Buscar: <input type="text" name="cadenaDeBusqueda" value="@ViewData["FiltroActual"]" />
            <input type="submit" value="Buscar" class="btn btn-outline-primary" />
            <a asp-action="Inicio" class="btn btn-outline-primary">Reestablecer Filtros</a>
        </p>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><a asp-action="Inicio" asp-route-ordenarPor="@ViewData["NombresOrdenar"]" asp-route-filtroActual="@ViewData["FiltroActual"]">Nombres</a></th>
                    <th><a asp-action="Inicio" asp-route-ordenarPor="@ViewData["PrimerApellidoOrdenar"]" asp-route-filtroActual="@ViewData["FiltroActual"]">Primer Apellido</a></th>
                    <th><a asp-action="Inicio" asp-route-ordenarPor="@ViewData["SegundoApellidoOrdenar"]" asp-route-filtroActual="@ViewData["FiltroActual"]">Segundo Apellido</a></th>
                    <th>Usuario</th>
                    <th>Rol</th>
                    <th><a asp-action="Inicio" asp-route-ordenarPor="@ViewData["EstadoOrdenar"]" asp-route-filtroActual="@ViewData["FiltroActual"]">Estado</a></th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@usuario.Nombres</td>
                        <td>@usuario.PrimerApellido</td>
                        <td>@usuario.SegundoApellido</td>
                        <td>@usuario.UserName</td>
                        <td>@usuario.IdentityRole.Name</td>
                        <td>@usuario.Estado</td>
                        <td>
                            <a asp-action="Detalles" asp-route-id="@usuario.Id" asp-route-rol="@usuario.IdentityRole.Name">Más Detalles</a><br>
                            <a asp-action="Editar" asp-route-id="@usuario.Id" asp-route-rol="@usuario.IdentityRole.Name">Editar</a><br>
                            <a asp-action="ReestablecerClave" asp-route-id="@usuario.Id">Reestablecer Clave</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Inicio"
   asp-route-ordenarPor="@ViewData["OrdenarActual"]"
   asp-route-numeroDePagina="@(Model.PageIndex - 1)"
   asp-route-filtroActual="@ViewData["FiltroActual"]"
   class="btn btn-outline-primary @prevDisabled">
    Anterior
</a>
<a asp-action="Inicio"
   asp-route-ordenarPor="@ViewData["OrdenarActual"]"
   asp-route-numeroDePagina="@(Model.PageIndex + 1)"
   asp-route-filtroActual="@ViewData["FiltroActual"]"
   class="btn btn-outline-primary @nextDisabled">
    Siguiente
</a>
    </div>
</div>