@model Padres

@{
    ViewData["Title"] = "Detalle Padres";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-6">
    <p class="h2">Madre</p>
    <dl class="row">
        <dt class="col-sm-2 mb-3 mt-3">
            @Html.DisplayNameFor(model => model.NombresMadre)
        </dt>
        <dd class="col-sm-10 mb-3 mt-3">
            @Html.DisplayFor(model => model.NombresMadre)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.PrimerApellidoMadre)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.PrimerApellidoMadre)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.SegundoApellidoMadre)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.SegundoApellidoMadre)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.TelefonoMadre)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.TelefonoMadre)
        </dd>
    </dl>
        </div>
    <div class="col-md-6">
    <p class="h2">Padre</p>
    <dl class="row">
        <dt class="col-sm-2 mb-3 mt-3">
            @Html.DisplayNameFor(model => model.NombresPadre)
        </dt>
        <dd class="col-sm-10 mb-3 mt-3">
            @Html.DisplayFor(model => model.NombresPadre)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.PrimerApellidoPadre)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.PrimerApellidoPadre)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.SegundoApellidoPadre)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.SegundoApellidoPadre)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.TelefonoPadre)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.TelefonoPadre)
        </dd>
    </dl>
</div>

<h2>Estudiantes</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre Completo</th>
            <th>Estado</th>
            <th>Periodo/Subperiodo<br /> - <br /> Curso/Sección</th>
            <th>Número<br /> de<br /> Orden</th>
            <th>ID Estudiante</th>
            <th>RNE</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var estudiante in Model.DetalleEstudiante)
            {
                <tr>
                    <td>@(estudiante.ApplicationUser.Nombres + " " + estudiante.ApplicationUser.PrimerApellido + " " + estudiante.ApplicationUser.SegundoApellido)</td>
                    <td>@estudiante.ApplicationUser.Estado</td>
                    <td>@(estudiante.DetalleCursoPeriodo.Periodo.Nombre + " / " + estudiante.DetalleCursoPeriodo.Periodo.Subperiodo + " - " + estudiante.DetalleCursoPeriodo.Curso.Nombre + " / " + estudiante.DetalleCursoPeriodo.Curso.Seccion)</td>
                    <td>@estudiante.NumerodeOrden</td>
                    <td>@estudiante.IdEstudiante</td>
                    <td>@estudiante.RNE</td>
                    <td>
                        <a asp-controller="Usuario" asp-action="DetalleEstudiante" asp-route-id="@estudiante.ApplicationUser.Id">Más Detalles</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
    </div>

<div>
    <a asp-action="Editar" asp-route-id="@Model.IdPadres" class="btn btn-warning">Editar</a>
    <a asp-action="Inicio" class="btn btn-primary">Volver Atrás</a>
</div>
