@model DetalleCursoPeriodo
@{
    ViewData["Title"] = "Lista de Estudiantes";
}

<h1>@ViewData["Title"]</h1>

<div class="row mb-1 mt-2">
    <div class="col-md-6">
        <p><strong>Periodo: </strong>@Model.Periodo.Nombre</p>
        <p><strong>Subperiodo: </strong>@Model.Periodo.Subperiodo</p>
    </div>
    <div class="col-md-6">
        <p><strong>Curso: </strong>@Model.Curso.Nombre</p>
        <p><strong>Secci&oacute;n: </strong>@Model.Curso.Seccion</p>
    </div>
</div>

<a class="btn btn-primary" asp-action="Inicio">Volver a la lista</a>
<a class="btn btn-primary" asp-action="MoverEstudiantes" asp-route-id="@Model.IdDetalleCursoPeriodo">Mover Estudiantes</a>
<hr />

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th># de orden</th>
                    <th>Nombre Completo</th>
                    <th>Usuario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DetalleEstudiante.OrderBy(s => s.NumerodeOrden))
                {
                    <tr>
                        <td>@item.NumerodeOrden</td>
                        <td>@(item.ApplicationUser.Nombres + " " +
                        item.ApplicationUser.PrimerApellido + " " +
                        item.ApplicationUser.SegundoApellido)
                        </td>
                        <td>@item.ApplicationUser.UserName</td>
                        <td>
                            <a class="link-primary" asp-controller="Usuario" asp-action="DetalleEstudiante"
                            asp-route-id="@item.ApplicationUser.Id">Detalles</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>