@model Noticia
@{
    ViewData["Title"] = @Model.Titulo;
}

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div>
            <p>
            Est&aacute;s en: <a asp-controller="Noticias" asp-action="Inicio">Noticias</a> > 
            @Model.CategoriaNoticia.Nombre > @Model.Titulo
        </p>
        </div>
        <hr>
        <p class="text-dark h2">
            @Model.Titulo
        </p>
        <small class="text-muted">Categor&iacute;a: @Model.CategoriaNoticia.Nombre <br>
            Autor: @(Model.ApplicationUser.Nombres + " " +
            Model.ApplicationUser.PrimerApellido + " " +
            Model.ApplicationUser.SegundoApellido) <br>
            Fecha de Publicaci&oacute;n: @Model.FechaPublicacion</small>
        <div class="mb-2 mt-3">
            @Model.Cuerpo
        </div>
        <div class="mt-3">
            <a asp-action="Inicio" asp-route-numeroDePagina="@ViewBag.numerodepagina" class="btn btn-outline-primary">Volver atr&aacute;s</a>
        </div>
    </div>
    <div class="col-md-3">
        
    </div>
</div>