@model IEnumerable<Escuela.Models.CategoriaNoticia>

@{
    ViewData["Title"] = "Lista de Categorías Noticia";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Agregar">Agregar</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.IdCategoriaNoticia">Editar</a><br>
                <a asp-action="Eliminar" asp-route-id="@item.IdCategoriaNoticia">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
