@model IEnumerable<Escuela.Models.Curso>

@{
    ViewData["Title"] = "Lista de Cursos";
}

<h1>@ViewData["Title"]</h1>

<a class="btn btn-primary mb-3" asp-action="Agregar">Agregar</a>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Seccion)
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Seccion)
                        </td>
                        <td>
                            <a asp-action="Editar" asp-route-id="@item.IdCurso">Editar</a> <br>
                            <a asp-action="Eliminar" asp-route-id="@item.IdCurso">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>