@model IEnumerable<Curso>
@{
    ViewData["Title"] = "Lista de cursos";
}

<h1>@ViewData["Title"]</h1>

<a class="btn btn-primary mb-3" asp-action="Agregar">Agregar</a>

<table class="table table-striped">
    <tr>
        <th>Nombre</th>
        <th>Seccion</th>
        <th>Asignaturas</th>
        <th>Acciones</th>
    </tr>
    @foreach (var curso in Model.ToList())
    {
        <tr>
            <td>@curso.Nombre</td>
            <td>@curso.Seccion</td>
            <td>
                @foreach (var asignaturacurso in curso.DetalleCursosAsignatura)
                {
                    if (@asignaturacurso != null)
                    {
                        @asignaturacurso.Asignatura.Nombre <br />
                    }
                    
                }
            </td>
            <td>
                <a class="link-primary" asp-action="Editar" asp-route-id="@curso.IdCurso">Editar</a>
                <a class="link-primary" asp-action="Eliminar" asp-route-id="@curso.IdCurso">Eliminar</a>
            </td>
        </tr>
    }
</table>