@model AgregarEditarCalificacionesViewModel
@{
    ViewData["Title"] = "Agregar/Editar Calificaciones";
}

<h1>@ViewData["Title"]</h1>
<hr>

<div class="row">
    <div class="col-md-6">
        <p><strong>Periodo: </strong>@Model.DetalleCursoperiodoAsignatura.DetalleCursoPeriodo.Periodo.Nombre</p>
        <p><strong>Subperiodo: </strong>@Model.DetalleCursoperiodoAsignatura.DetalleCursoPeriodo.Periodo.Subperiodo</p>
        <p><strong>Curso: </strong>@Model.DetalleCursoperiodoAsignatura.DetalleCursoPeriodo.Curso.Nombre</p>
    </div>
    <div class="col-md-6">
        <p><strong>Secci&oacute;n: </strong>@Model.DetalleCursoperiodoAsignatura.DetalleCursoPeriodo.Curso.Seccion</p>
        <p><strong>Asignatura: </strong>@Model.DetalleCursoperiodoAsignatura.Asignatura.Nombre</p>
    </div>
</div>

<div class="row">
    <div class="col-md-3 mb-3">
        <a class="btn btn-primary" asp-area="Profesor" asp-action="CalificacionesAsignatura" asp-route-id="@ViewBag.id"
            asp-action="Inicio">Volver a
            Calificaciones</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Ayuda</a>
    </div>
</div>

<p>
  
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Si desea asignar una calificaci&oacute;n m&aacute;s tarde, deje el valor en 0
    <br>
    Si realmente desea asignar 0 a un estudiante, busque al estudiante y use el bot&oacute;n Agregar desde la lista de calificaciones
  </div>
</div>

<form asp-action="AgregarEditarCalificacionesAsignatura" method="post">
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th># <br /> de orden</th>
                <th>Nombre Completo</th>
                <th>Calificaci&oacute;n</th>
                <th>Observaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            @{
                int estudiante = 0;
            }
            @for (int iterator = 0; iterator < Model.Calificacion.Count; iterator++)
            {
                if (!Model.DetalleCursoperiodoAsignatura.DetalleCursoPeriodo.DetalleEstudiante.Any(s => s.UserId == Model.Calificacion[iterator].IdEstudiante))
                {
                    <tr>
                        <td>@Model.Calificacion[iterator].ApplicationUserEstudiante.DetalleEstudiante.NumerodeOrden</td>
                        <td>@(Model.Calificacion[iterator].ApplicationUserEstudiante.Nombres + " " +
                    Model.Calificacion[iterator].ApplicationUserEstudiante.PrimerApellido + " " +
                    Model.Calificacion[iterator].ApplicationUserEstudiante.SegundoApellido)</td>

                        <td>
                        <input asp-for="@Model.Calificacion[estudiante].CalificacionTotal" value="@Model.Calificacion[iterator].CalificacionTotal" class="form-control" />
                        <span asp-validation-for="@Model.Calificacion[estudiante].CalificacionTotal" class="text-danger"></span>
                        </td>

                        <td>
                        <input asp-for="@Model.Calificacion[estudiante].Observacion" value="@Model.Calificacion[iterator].Observacion" class="form-control" />
                        <span asp-validation-for="@Model.Calificacion[estudiante].Observacion" class="text-danger"></span>
                        <input asp-for="@Model.Calificacion[estudiante].IdEstudiante" hidden />
                        </td>
                    </tr>
                    estudiante++;
                }
            }

            @for (int iterator1 = 0, iteratorCalificacionNueva = 0; iterator1 < Model.DetalleEstudiante.Count; iterator1++)
            {
                <tr>
                    
                    @if (!Model.Calificacion.Where(s => s.IdEstudiante == Model.DetalleEstudiante[iterator1].UserId).Any())
                    {
                        <td>@Model.DetalleEstudiante[iterator1].NumerodeOrden</td>
                    <td>@(Model.DetalleEstudiante[iterator1].ApplicationUser.Nombres + " " + Model.DetalleEstudiante[iterator1].ApplicationUser.PrimerApellido + " " +
                    Model.DetalleEstudiante[iterator1].ApplicationUser.SegundoApellido)</td>
                        <td>
                        <input asp-for="@Model.CalificacionNueva[iteratorCalificacionNueva].CalificacionTotal" class="form-control" />
                        <span asp-validation-for="@Model.CalificacionNueva[iteratorCalificacionNueva].CalificacionTotal" class="text-danger"></span>
                        </td>

                        <td>
                        <input asp-for="@Model.CalificacionNueva[iteratorCalificacionNueva].Observacion" class="form-control" />
                        <span asp-validation-for="@Model.CalificacionNueva[iteratorCalificacionNueva].Observacion" class="text-danger"></span>
                        <input asp-for="@Model.CalificacionNueva[iteratorCalificacionNueva].IdEstudiante" value="@Model.DetalleEstudiante[iterator1].UserId" hidden />
                        </td>
                        iteratorCalificacionNueva++;
                    }
                    else{
                        <td>@Model.Calificacion[estudiante].ApplicationUserEstudiante.DetalleEstudiante.NumerodeOrden</td>
                    <td>@(Model.Calificacion[estudiante].ApplicationUserEstudiante.Nombres + " " + Model.Calificacion[estudiante].ApplicationUserEstudiante.PrimerApellido + " " +
                    Model.Calificacion[estudiante].ApplicationUserEstudiante.SegundoApellido)</td>
                        <td>
                        <input asp-for="@Model.Calificacion[estudiante].CalificacionTotal"  class="form-control" />
                        <span asp-validation-for="@Model.Calificacion[estudiante].CalificacionTotal" class="text-danger"></span>
                        </td>

                        <td>
                        <input asp-for="@Model.Calificacion[estudiante].Observacion" class="form-control" />
                        <span asp-validation-for="@Model.Calificacion[estudiante].Observacion" class="text-danger"></span>
                        <input asp-for="@Model.Calificacion[estudiante].IdEstudiante" hidden />
                        </td>
                        estudiante++;
                    }
                </tr>
            }
        </tbody>                        
    </table>

    <div class="form-group">
        <input type="submit" asp-route-id="@ViewBag.id" class="btn btn-primary" value="Guardar" />
    </div>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}