@model AgregarEditarCalificacionViewModel
@{
    ViewData["Title"] = "Agregar Calificación";
}

<h1>@ViewData["Title"]</h1>
<hr>

<div class="row">
    <div class="col-md-6">
        <p><strong>Periodo: </strong>@Model.DetalleCursoperiodoAsignatura[0].DetalleCursoPeriodo.Periodo.Nombre</p>
        <p><strong>Subperiodo: </strong>@Model.DetalleCursoperiodoAsignatura[0].DetalleCursoPeriodo.Periodo.Subperiodo</p>
        <p><strong>Curso: </strong>@Model.DetalleCursoperiodoAsignatura[0].DetalleCursoPeriodo.Curso.Nombre</p>
    </div>
    <div class="col-md-6">
        <p><strong>Secci&oacute;n: </strong>@Model.DetalleCursoperiodoAsignatura[0].DetalleCursoPeriodo.Curso.Seccion</p>
        <p><strong>Asignatura: </strong>@Model.DetalleCursoperiodoAsignatura[0].Asignatura.Nombre</p>
    </div>
</div>

<p class="h2">Estudiante</p>
<hr>
<div class="row">
    @foreach (var estudiante in Model.DetalleCursoperiodoAsignatura[0].DetalleCursoPeriodo.DetalleEstudiante.OrderBy(s => s.NumerodeOrden))
    {
        <div class="col-md-6">
        <p>
            <strong>N&uacute;mero de orden:</strong> @estudiante.NumerodeOrden
        </p>
        </div>
        <div class="col-md-6">
        <p>
            <strong>Nombre Completo:</strong> @(estudiante.ApplicationUser.Nombres + " " + estudiante.ApplicationUser.PrimerApellido + " " + estudiante.ApplicationUser.SegundoApellido)
        </p>
        </div>
    }
</div>

<p class="h2">Calificaci&oacute;n</p>
<hr>
<form class="row" asp-action="AgregarEditarCalificacionAsignatura" method="post">
    @foreach (var estudiante in Model.DetalleCursoperiodoAsignatura[0].DetalleCursoPeriodo.DetalleEstudiante.OrderBy(s => s.NumerodeOrden))
    {
        @if (!Model.DetalleCursoperiodoAsignatura[0].Calificacion.Where(s => s.IdEstudiante == estudiante.UserId).Any()){
            <input asp-for="@Model.Calificacion.IdDetalleCursoPeriodoAsignatura" value="@ViewBag.id" hidden />
            <input asp-for="@Model.Calificacion.IdEstudiante" value="@ViewBag.id2" hidden />
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Calificación">Calificaci&oacute;n</label>
                    <input type="text" asp-for="@Model.Calificacion.CalificacionTotal" value="" class="form-control" />
                    <span asp-validation-for="@Model.Calificacion.CalificacionTotal" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Observación">Observaci&oacute;n</label>
                    <textarea asp-for="@Model.Calificacion.Observacion" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Calificacion.Observacion" class="text-danger"></span>
                </div>
            </div>
            }
    }
<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Agregar" asp-route-id="@ViewBag.id" asp-route-id2="@ViewBag.id2" />
</div>
    
</form>

<div class="row">
    <a class="btn btn-primary" asp-action="CalificacionesAsignatura" asp-route-id="@ViewBag.id">Volver a la lista</a>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}